// "main": "yd.less"
html, body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.4286;
	font-size: ~"calc(12px + (14 - 12) * ((100vw - 320px) / (1600 - 320)))"; // min 12px, max 14px, grow/shrink between 768px and 1600px
	color: @c-brand2;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	overflow: hidden;
	transition: opacity .5s ease;
	opacity: 1;
	background-color: #f1eeee;
	min-height: 100vh;
	min-width: 100vw;

}
html.loading,
body.loading{
		opacity: 0;
}

img,
video {
	height: auto;
	width: 100%;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none;

}
img .round,
video .round {
	border-radius: 50%;
}
audio {
	width: 100%;
}

a, a:hover, a:focus, a:active, a:visited {
	text-decoration: none;
	outline: none !important;
}

em {
	font-style: normal;
	text-transform: uppercase;
}
b, strong {
	font-weight: 500;
}
i b, strong {
	font-weight: 700;
}

ul, ol {
    margin: 15px 0;
    padding: 0 0 0 25px;
}
ol li {
	margin-bottom: .5rem;
	padding-left: 5px;
}

.small, small {
    font-size: 90%;
}
