/* // "main": "yd.less" */

@keyframes changed {
    from {
        box-shadow: 0 0 1px 1px transparent;
    }
    to {
        box-shadow: 0 0 1px 1px #17a2b8;
    }
}

fieldset.inline {
    display: flex;
}

fieldset.inline>* {
    flex: 1 1 auto;
}

.form-group {
    margin-bottom: 1rem;
}

.section.filter {
    border-top: 1px solid #ced4da;
    padding-top: 15px;
    margin: 15px 0;
}

[type="number"],
[type="text"],
[type="password"],
[type="email"],
[type="date"],
[type="search"],
[type="tel"],
[type="url"],
select,
textarea,
.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect {
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 100%;
    height: auto;
    /* // padding: .15em .75em; */
    padding: .25em .75em;
    background-color: #fff;
    background-image: none;
    border: 1px solid lighten(yellowgreen, 30%);
    border-left-width: 2px;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

[type="number"]:optional,
[type="text"]:optional,
[type="password"]:optional,
[type="email"]:optional,
[type="date"]:optional,
[type="search"]:optional,
[type="tel"]:optional,
[type="url"]:optional,
select:optional,
textarea:optional,
.daterangepicker select.hourselect:optional,
.daterangepicker select.minuteselect:optional,
.daterangepicker select.secondselect:optional {
    border-left-color: #17a2b8;
}

[type="number"]:valid,
[type="text"]:valid,
[type="password"]:valid,
[type="email"]:valid,
[type="date"]:valid,
[type="search"]:valid,
[type="tel"]:valid,
[type="url"]:valid,
select:valid,
textarea:valid,
.daterangepicker select.hourselect:valid,
.daterangepicker select.minuteselect:valid,
.daterangepicker select.secondselect:required:valid {
    border-left-color: #eb6608;
    border-bottom-color: #eb6608;
}

[type="number"]:invalid,
[type="text"]:invalid,
[type="password"]:invalid,
[type="email"]:invalid,
[type="date"]:invalid,
[type="search"]:invalid,
[type="tel"]:invalid,
[type="url"]:invalid,
select:invalid,
textarea:invalid,
.daterangepicker select.hourselect:invalid,
.daterangepicker select.minuteselect:invalid,
.daterangepicker select.secondselect:invalid {
    border-left-color: #eb6608;
    border-bottom-color: #eb6608;
}

[type="number"].changed,
[type="text"].changed,
[type="password"].changed,
[type="email"].changed,
[type="date"].changed,
[type="search"].changed,
[type="tel"].changed,
[type="url"].changed,
select.changed,
textarea.changed,
.daterangepicker select.hourselect.changed,
.daterangepicker select.minuteselect.changed,
.daterangepicker select.secondselect.changed {
    animation-name: changed;
    animation-duration: 500ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

[type="number"].changed.success,
[type="text"].changed.success,
[type="password"].changed.success,
[type="email"].changed.success,
[type="date"].changed.success,
[type="search"].changed.success,
[type="tel"].changed.success,
[type="url"].changed.success,
select.changed.success,
textarea.changed.success,
.daterangepicker select.hourselect.changed.success,
.daterangepicker select.minuteselect.changed.success,
.daterangepicker select.secondselect.changed.success {
    animation: none;
    box-shadow: 0 0 1px 1px #28a745;
}

textarea {
    height: auto;
}

textarea.autosize {
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
}

[type="search"] {
    -webkit-appearance: none
}

[disabled],
[readonly] {
    cursor: not-allowed !important;
    opacity: .55;
}

select:not([multiple]),
.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    appearance: none;
    user-select: none;
    padding-start: 2px;
    padding-end: 20px;
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 6" style="enable-background:new 0 0 16 6;" xml:space="preserve"><polyline points="0,0 16,0 8,6 "/></svg>');
    background-position: "calc(100% - 10px)" center;
    background-repeat: no-repeat;
    background-size: 8px;
    overflow: hidden;
    padding-top: 3px;
    padding-bottom: 1px;
    padding-left: 8px;
    min-height: 28px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    background-color: #fff;
    max-width: 740px;
}

select:not([multiple]).sm,
.daterangepicker select.hourselect.sm,
.daterangepicker select.minuteselect.sm,
.daterangepicker select.secondselect.sm {
    min-height: 24px;
    padding-top: 1px;
    padding-left: 4px;
}

select[multiple] {
    height: auto;
}

.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect {
    display: inline-block;
    width: 60px;
    line-height: 1.4;
    margin: 0;
}

.input-group>select {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

table[type="number"],
table[type="text"],
table[type="password"],
table[type="email"],
table[type="date"],
table[type="search"],
table[type="tel"],
table[type="url"],
table select {
    margin-bottom: 0;
}

.range {
    position: relative;
}

.range::after {
    display: block;
    content: attr(data-val);
    position: absolute;
    right: 0;
    top: 0;
    color: #17a2b8;
}

.range[type="range"] {
    cursor: pointer;
}

label {
    /* display: block; */
    margin-bottom: .5rem;
}

label .checkbox {
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid;
    text-align: center;
}

label .btn-outline-primary {
    margin-bottom: 0;
    vertical-align: top;
}

label.pointer {
    cursor: pointer;
}

label small {
    display: block;
    margin-top: -.5rem;
}

label small+input,
label small+select,
label small+.input-group {
    margin-top: .5rem;
}


/* ! radio/checkboxes */

.check {
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
}

.check .check {
    margin-top: -10px;
}

.check label {
    position: relative;
    padding-left: 2em;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    line-height: 1.2;
}

.check label::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid;
    background-color: #fff;
    transition: box-shadow .2s ease;
}

.check label::after {
    left: .2em;
    top: .2em;
    content: '';
    display: inline-block;
    opacity: 0;
    position: absolute;
    transition: opacity .2s ease;
}

.check label.abs {
    position: absolute;
}

.check label.changed::before {
    animation-name: changed;
    animation-duration: 500ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.check label.changed.success::before {
    animation: none;
    box-shadow: 0 0 1px 1px #28a745;
}

.check.ifchecked {
    padding: 5px 0 0 2em;
    display: none;
}

.check.ifchecked select {
    height: 28px;
    width: auto;
}

.check input {
    z-index: -1;
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.check input:checked+label::after {
    opacity: 1;
}

.check input:checked[disabled],
.check input:checked[readonly]+label::after {
    opacity: .4;
}

.check input:invalid+label::before {
    box-shadow: 0 0 2px 1px #eb6608;
}

.check input:checked~.ifchecked {
    display: block;
}

.check [type=checkbox]+label::after {
    width: .8em;
    height: .5em;
    background: transparent;
    border-bottom: 2px solid yellowgreen;
    border-left: 2px solid yellowgreen;
    transform: rotate(-45deg);
}

.check[type=radio]+label::before {
    border-radius: 50%;
}

.check[type=radio]+label::after {
    background: yellowgreen;
    width: 0.8em;
    height: .8em;
    border-radius: 50%;
}

.check[class*="col"] {
    margin: 0 0 10px;
}

.check.switch {
    margin: 0;
    padding: 5px 0;
}

.check.switch label {
    width: 40px;
    /* // height: 20px; */
    padding: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

.check.switch label::before {
    content: '';
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 16px;
    display: block;
    background-color: #eb6608;
    border-radius: 8px;
    border: none;
    transition: background-color .2s ease;
}

.check.switch label::after {
    display: none;
}

.check.switch label span {
    background-color: lighten(#eb6608, 40%);
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    box-shadow: 0 2px 4px lighten(yellowgreen, 30%);
    transition: all .2s ease;
}

.check.switch label span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background-color: lighten(#28a745, 30%);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}

.check.switch[type=radio]:checked+label::before,
.check.switch[type=checkbox]:checked+label::before {
    background-color: #28a745;
}

.check.switch[type=radio]:checked+label span,
.check.switch[type=checkbox]:checked+label span {
    background-color: lighten(#28a745, 30%);
    transform: translateX(20px);
    transition: all .2s cubic-bezier(.8, .4, .3, 1.25), background-color .15s ease;
    box-shadow: 0 3px 8px alpha(#28a745, .2);
}

.check.switch[type=radio]:checked+label span:before,
.check.switch[type=checkbox]:checked+label span:before {
    transform: scale(1);
    opacity: 0;
    transition: all .4s ease;
}

.check.switch[disabled]+label,
.check.switch[readonly]+label {
    opacity: .6;
    cursor: not-allowed;
}

.check.switch.neutral label::before {
    background-color: #6c757d;
}

.check.switch.neutral label span {
    background-color: #fff;
    box-shadow: 0 2px 4px darken(#6c757d, 20%);
}

.check.switch.neutral label span:before {
    background-color: #fff;
}

.check.switch.neutral[type=radio]:checked+label::before,
.check.switch.neutral[type=checkbox]:checked+label::before {
    background-color: #6c757d;
}

.check.switch.neutral[type=radio]:checked+label span,
.check.switch.neutral[type=checkbox]:checked+label span {
    background-color: #fff;
    box-shadow: 0 2px 4px darken(#6c757d, 20%);
}


/* ! fileupload */

input[type="file"] {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 0;
    height: 0;
}

[contenteditable="true"] {
    caret-color: yellowgreen;
    padding: 0 5px;
    cursor: text;
    background-color: lighten(yellowgreen, 68%);
    transition: all .2s ease;
}

[contenteditable="true"]:hover {
    background-color: lighten(yellowgreen, 60%);
}

[contenteditable="true"]:focus {
    background-color: lighten(yellowgreen, 70%);
    padding: 3px 5px;
}

.editable {
    position: relative;
}

.editable[type="number"],
.editable[type="text"],
.editable[type="password"],
.editable[type="email"],
.editable[type="date"],
.editable[type="search"],
.editable[type="tel"],
.editable[type="url"],
.editable select,
.editable textarea {
    margin-bottom: 3px;
    display: none;
}

.editable>:first-child {
    cursor: pointer;
}

.editable:not(.quiet)> :first-child {
    padding: 0 5px;
    cursor: text;
    background-color: lighten(yellowgreen, 68%);
    border: 1px dotted transparent;
    transition: border-color .2s ease;
    min-height: 'calc(1rem + 10px)';
    margin: 0;
}

.editable:hover> :first-child {
    border-color: #17a2b8;
}

.editable:hover> :first-child::after {
    opacity: 1;
}

.editable input:focus~.iconify {
    opacity: 0;
    pointer-events: none;
}

.editable>input:not([name]),
.editable>select:not([name]),
.editable>textarea:not([name]) {
    pointer-events: none;
}

.editable:focus,
.editable:focus-within,
.editable.focus-within {
    border: none;
}

.editable:focus,
.editable:focus-within,
.editable.focus-within::after {
    opacity: 0;
}

.editable:focus,
.editable:focus-within,
.editable.focus-within>*:not(input):not(select):not(textarea) {
    display: none;
}

.editable:focus,
.editable:focus-within,
.editable.focus-within>*:not(input):not(select):not(textarea)~.hidden {
    display: inherit !important;
}

.editable:focus,
.editable:focus-within,
.editable.focus-within>*:not(input):not(select):not(textarea)~label,
.editable:focus,
.editable:focus-within,
.editable.focus-within>*:not(input):not(select):not(textarea)~p {
    display: none;
}

.editable[focus-within]>*:not(input):not(select):not(textarea) {
    display: none;
}

.editable[focus-within]>*:not(input):not(select):not(textarea)~.hidden {
    display: inherit !important;
}

.editable[focus-within]>*:not(input):not(select):not(textarea)~label,
.editable[focus-within]>*:not(input):not(select):not(textarea)~p {
    display: none;
}

.editable h1,
.editabl h2,
.editabl h3,
.editabl h4,
.editabl h5,
.editabl h6 {
    margin: 0;
}

[data-emptyhint]:empty {
    background-color: #17a2b8;
    border: 2px dashed;
    text-align: center;
    border-color: #fff;
    position: relative;
}

[data-emptyhint]:empty::before {
    display: block;
    content: attr(data-emptyhint);
    opacity: .7;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 90%;
}

[data-sortable] {
    min-height: 50px;
    position: relative;
}

[data-sortable]>div {
    /* .grabbable; */
    position: relative;
    border: 1px dotted transparent;
    transition: border-color .2s ease;
    display: block;
}

[data-sortable]>div[type="number"],
[data-sortable]>div[type="text"],
[type="password"],
[data-sortable]>div[type="email"],
[type="date"],
[data-sortable]>div[type="search"],
[type="tel"],
[data-sortable]>div[type="url"],
[data-sortable]>div select,
textarea {
    margin-bottom: 3px;
}

[data-sortable]>div:hover {
    border-color: #17a2b8;
}

[data-sortable]>div:hover.iconify {
    opacity: 1;
    pointer-events: all;
}

[data-sortable]>div>.iconify {
    color: yellowgreen;
    margin: 0;
    opacity: 0;
    transition: opacity .2s ease;
    pointer-events: none;
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 1px;
}


/* [data-sortable]>div>.iconify.nth-type-loop(5, right,35px,2); */

[data-sortable]>div.check {
    margin: 0;
}

[data-sortable]>div.editable {
    display: inline-block;
    width: auto;
}

[data-sortable]>div.editable:hover {
    border-color: transparent;
}

[data-sortable][data-toggle].active~.inlinechange {
    width: 60%;
}

[data-sortable] .source>div[tabindex="-1"] {
    pointer-events: none;
}

[data-sortable] .source>div[tabindex="-1"]* {
    display: inherit;
}

[data-sortable] .source>div .check input,
[data-sortable] .source>div label,
[data-sortable] .source>div[data-icon="mdi-delete"] {
    display: none;
}

[data-sortable]input.weight {
    display: inline-block !important;
    width: 45px;
    padding: 2px 2px 2px 5px;
    height: auto;
}

[data-sortable][data-maxchild].iconify[data-icon="mdi-delete"] {
    display: block !important;
}

[data-dropfile] {
    width: 100%;
    overflow: hidden;
    padding: 0;
    position: relative;
    border-style: dashed;
    border-width: 3px;
    text-align: center;
    transition: .2s opacity ease;
    /* // max-height: 200px; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

[data-dropfile]:not(.squared)::after {
    display: block;
    content: '';
    padding-top: 50%;
}

[data-dropfile].rounded-circle {
    max-height: none;
}

[data-dropfile].rounded-circle::after {
    padding-top: 100%;
}

[data-dropfile]>label {
    cursor: pointer;
    width: 100%;
    height: 100%;
    /* .abscenter; */
    font-size: 90%;
}

[data-dropfile]>label.iconify {
    font-size: 250%;
}

[data-dropfile]>label>div.abscenter {
    width: 90%;
}

[data-dropfile].dragover {
    opacity: .5;
}

[data-dropfile][style] label {
    opacity: 0;
}

.starrating {
    position: relative;
}

.starrating>input {
    z-index: -1;
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.starrating>label::before {
    margin: 2px;
    display: inline-block;
    position: relative;
    content: url('../../icons/mdi-star.svg?color=%23272c33');
    width: 20px;
    z-index: 1;
}

.starrating>label {
    color: yellowgreen;
    cursor: pointer;
}

.starrating>label.reset::before {
    content: url('../../icons/mdi-cancel.svg?color=%23272c33');
}

.starrating>input:checked~label:not(.reset)::before {
    content: url('../../icons/mdi-star.svg?color=%23ffca08');
}

.starrating>input:hover~label:not(.reset)::before {
    content: url('../../icons/mdi-star.svg?color=%23ffca08');
    filter: none;
}

.starrating>input:invalid+label::before {
    filter:'drop-shadow(0px 0px 4px @{c-red})';
}

.starrating>input:disabled~label,
.starrating>input:hover:disabled~label,
.starrating>input:checked:disabled~label {
    cursor: not-allowed;
}

.input-group {
    margin-bottom: 15px;
}

.input-group>input,
.input-group>textarea {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.input-group.clear {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: .4em;
    transform: translate(0, -50%);
    background-color: #d8d8d8;
    color: inherit;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2em;
    opacity: .5;
    transition: opacity .2s ease-in-out;
}

.input-group.clear:hover {
    opacity: 1;
}

.input-group.clear[data-icon*="mdi-close"] {
    font-size: .6em;
}

.input-group.clear+input {
    padding-right: 30px;
}

table td .input-group:only-child {
    margin-bottom: 0;
}

label[data-icon="mdi-flag"],
label.flag {
    cursor: pointer;
}

:checked+label[data-icon="mdi-flag"],
:checked+label.flag .iconify {
    border-color: yellowgreen;
}

#additionalFilters,
.slidetoggle {
    overflow: hidden;
    max-height: 0;
    transition: all .2s ease-in-out;
}

#additionalFilters.active,
.slidetoggle.active {
    max-height: 1100px;
}

.wysiwyg li {
    padding: .5rem;
}

.wysiwyg li.input-group {
    margin: 0;
}

.wysiwyg li.addfield {
    padding: 5px;
    display: block;
    position: absolute;
    left: 25%;
    bottom: -23px;
    z-index: 9
}

.wysiwyg li:last-child.addfield {
    display: none;
}

.wysiwyg li:not([class*="list-group-item-"]) {
    background-color: transparent;
}

.wysiwyg .showinprompt {
    display: none;
}

.swal2-container .showinprompt {
    display: block;
}

.multi-select .multi-action {
    display: flex;
    align-items: center;
    margin: 15px 0;
    opacity: 0;
    transition: all .2s ease;
}

.multi-select.multi-action.active {
    opacity: 1;
}

.multi-select.multi-action>.dropme {
    margin: 0 15px 0 8px;
}

.notefield {
    max-width: 700px;
}